# MLflow artifacts
mlruns/
artifacts/
*.db
*.sqlite

# Jupyter Notebook
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# OS
.DS_Store
Thumbs.db